* {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	text-decoration: none;
	color: black;
}

img {
	display: block;
	border: 0;
}

.container {
	width: 1200px;
	height: 1245px;
	margin: 0px auto;
	position: relative;
}

.header {
	width: 100%;
	height: 289px;
	background: url("../images/main-bg.jpg") fixed 100% 100%;
	;
}

.a {
	width: 100%;
	height: 60px;
}

.header-1 {
	width: 100%;
	height: 229px;
	background: white;
}

.header-1>div {
	width: 100%;
	height: 180px;
	border-top: 5px solid #FFDF00;
}

.header-1 .header-1img {
	width: 360px;
	height: 90px;
	margin-top: 60px;
	left: 50%;
	margin-left: 420px;
}


/*.header>img{
	width:1200px;
	height:504px;
}*/

.header-1>ul {
	height: 44px;
	background: #FFDF00;
	margin-top: 0px;
}

.header-1>ul>li {
	height: 44px;
	margin-left: 10px;
	float: left;
	text-align: center;
	line-height: 44px;
	position: relative;
}

.header-1>ul>li>div {
	height: 0px;
	width: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
	background: white;
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
	font-weight: bold;
	border: 0;
	text-align: center;
	line-height: 44px;
	letter-spacing: 1px;
	color: #4C4C4C;
}

.header-1>ul>li>div>a {
	display: block;
	width: 100%;
	height: 44px;
}

.header-1>ul>li>a {
	display: block;
	width: 100%;
	height: 44px;
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 1px;
	color: #4C4C4C;
}

.header-1>ul>li:nth-child(1) {
	width: 123px;
	margin-left: 316px;
}

.header-1>ul>li:nth-child(2) {
	width: 127px;
	position: relative;
}

.header-1>ul>li:nth-child(3) {
	width: 98px;
}

.header-1>ul>li:nth-child(4) {
	width: 82px;
}

.header-1>ul>li:nth-child(5) {
	width: 98px;
}

.header-1>ul>li>ul {
	/*display:none;*/
	position: absolute;
}

.header-1>ul>li>ul>li {
	width: 170px;
	background: #FFF;
}

.header-1>ul>li>ul>li>.item1 {
	width: 170px;
	position: absolute;
	left: 170px;
	top: 0px;
	background: #FFF;
	display: noen;
}

.header-1>ul>li>ul>li>.item2 {
	width: 170px;
	position: absolute;
	left: 170px;
	top: 44px;
	background: #FFF;
	display: none;
}

.item>ul {
	display: none;
}

.item1>li:hover a {
	color: yellow;
}

.item2>li:hover a {
	color: yellow;
}

.footer {
	width: 100%;
	height: 79px;
	margin-bottom: 0px;
}

.footer>p>a {
	color: #4C4C4C;
}

.footer p {
	float: left;
	line-height: 79px;
	margin-left: 10px;
}

.footer div {
	width: 39px;
	height: 39px;
	border-radius: 50%;
	float: right;
	margin: 20px 8px;
	background: #FFDF00;
}

.footer div img {
	margin: 6px;
}

.footer div:hover {
	opacity: 0.5;
}

.content {
	width: 100%;
	height: 1077px;
}

.content>img {
	width: 100%;
	height: 450px;
}

.content .art {
	height: 555px;
	width: 1078px;
	padding: 40px 60px 30px;
	color: #3F3F3F;
}

.art>h1 {
	line-height: 1.2;
	font-size: 38px;
	font-family: 'Goudy Bookletter 1911', Georgia, serif;
	text-align: center;
	margin-bottom: 20px;
	color: #3F3F3F;
}

.col-1 {
	width: 359px;
	height: 330px;
	float: left;
}

.col-2 {
	width: 718px;
	height: 490px;
	float: left;
}

.col-1 span {
	margin: 10px 10px 0px;
	display: block;
}

.col-1 p {
	margin: 10px;
}
.col-2 #name{
	width:301px;
	height:17px;
	padding:13px;
	margin:15px 10px 25px 10px;
}
.col-2 #email{
	width:301px;
	height:17px;
	padding:13px;
	margin:15px 0px 25px 10px;
}
.col-2 #subject{
	width:658px;
	height:17px;
	padding:13px;
	margin:10px 0px 25px 10px;	
}
.col-2 input{
    font-size: 16px;
    border:1px solid #FFDF00;
	border-radius:5px;
	outline:none;
}
.col-2 #message{
	border:1px solid #FFDF00;
	border-radius:5px;
	width:664px;
	height:178px;
	padding:10px;
	margin:5px 10px;
	outline:none;
}
.col-2 #submit{
	color:#FFF;
	font-size: 16px;
	width:252px;
	background: #FFDF00;
	border:1px solid #FFDF00;
	padding:13px;
	border-radius:5px;
	margin:25px auto;
}
