<table class="table">
    <tr>
        <th>
            <input type="checkbox" ng-model="all" ng-checked="total.isAll" ng-click="change()">
        </th>
        <th>编号</th>
        <th>商品名</th>
        <th>价格</th>
        <th>数量</th>
        <th>小计</th>
        <th>操作</th>
    </tr>
    <tr ng-repeat="cart in cartlist">
        <td>
            <input type="checkbox" ng-checked="all" ng-model="cart.isCheck" ng-click="fun()">
        </td>
        <td>{{cart.id}}</td>
        <td>{{cart.title}}</td>
        <td>{{cart.price}}</td>
        <td>
            <button ng-click="jian($index)">-</button>
            <input type="number" ng-model="cart.num">
            <button ng-click="jia($index)">+</button>
        </td>
        <td>{{cart.num * cart.price | number:2}}</td>
        <td>
            <button class="btn btn-danger btn-sm" ng-click="del($index)">删除</button>
        </td>
    </tr>
    <tr>
        <td colspan="3">总数量：{{total.sum}}</td>
        <td colspan="4">总价格：{{total.price|number:2}}</td>
    </tr>
</table>
